Import Dataset File to Pandas

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
awal16 = pd.read_csv('/content/drive/MyDrive/beginning.xlsx')
awal16.head()
print('Jumlah mahasiswa:', awal16['NPM'].nunique())
print('Jumlah data terekam:', awal16.shape[0])
#print('Semester:', sorted(awal16['Smt Ambil'].unique()))

In [ ]:
tambahan16 = pd.read_csv('/content/drive/MyDrive/additional.csv')
tambahan16.head()
print('Jumlah mahasiswa:', tambahan16['NPM'].nunique())
print('Jumlah data terekam:', tambahan16.shape[0])
#print('Semester:', sorted(tambahan16['Smt Ambil'].unique()))

Merging 2 Datasets by Appending Columns

In [ ]:
data16v1 = pd.concat([awal16,tambahan16], axis=1)
data16v1.head()
print('Jumlah mahasiswa:', data16v1['NPM'].nunique())
print('Jumlah data terekam:', data16v1.shape[0])
print('Semester:', sorted(data16v1['Smt Ambil'].unique()))

Deleting Same Columns

In [ ]:
data16 = data16.loc[:, ~data16.columns.duplicated()]
print('Jumlah mahasiswa:', data16['NPM'].nunique())
print('Jumlah data terekam:', data16.shape[0])
data16.head()

In [ ]:
import os
print(os.getcwd())
data16.to_csv("/content/drive/MyDrive/output.csv", index=False)

Show All Columns and Rows

In [ ]:
pd.set_option('display.max_rows', None, 'display.max_columns', None, 'display.max_colwidth', None)
print('Grades:', sorted(komputer['HM'].unique()))
print('Labels:', komputer['Label'].unique())
komputer.head()

Data Type of Each Columns

In [ ]:
type(komputerfix.dtypes), len(komputerfix.dtypes), komputerfix.dtypes
#komputerfix.head()

In [ ]:
# Count frequency of non-numeric characters in 'IPS' column
print(komputerfix['IPS'].astype(str).str.findall(r'[^\d]').explode().value_counts())
print(komputerfix['IPK'].astype(str).str.findall(r'[^\d]').explode().value_counts())

Filter dan Replace serta konversi tipe data Object ke Float untuk IPS dan IPK

In [ ]:
# 1. Filter rows containing commas in 'IPS' column:
comma_rows = komputerfix[komputerfix['IPS'].astype(str).str.contains(',')]

# 2. Replace commas with periods in filtered rows (optional):
komputerfix.loc[comma_rows.index, 'IPS'] = komputerfix.loc[comma_rows.index, 'IPS'].str.replace(',', '.')

# 3. Convert 'IPS' column to float (if desired):
komputerfix['IPS'] = komputerfix['IPS'].astype(float)
#komputerfix['IPK'] = komputerfix['IPK'].astype(float)

In [ ]:
# 1. Filter rows containing commas in 'IPK' column:
comma_rows = komputerfix[komputerfix['IPK'].astype(str).str.contains(',')]
space_rows = komputerfix[komputerfix['IPK'].astype(str).str.contains(' ')]


# 2. Replace commas with periods in filtered rows (optional):
komputerfix.loc[comma_rows.index, 'IPK'] = komputerfix.loc[comma_rows.index, 'IPK'].str.replace(',', '.')
komputerfix.loc[space_rows.index, 'IPK'] = komputerfix.loc[space_rows.index, 'IPK'].str.replace(' ', '')

# 3. Convert 'IPK' column to float (if desired):
komputerfix['IPK'] = komputerfix['IPK'].astype(float)

Data Description on Statistics

In [ ]:
print('Nbr of students:', komputerfix['SID'].nunique())
print('Nbr of data records:', komputerfix.shape[0])
print('Student status:', komputerfix['ST'].unique())
print('Student semesters:', sorted(komputerfix['Semester'].unique()))
print('Grades:', sorted(komputerfix['HM'].dropna().unique()))
print('Labels:', sorted(komputerfix['Label'].unique()))

example_data = pd.concat([komputerfix[komputerfix['Label']=='PA'].sample(n=3, random_state=0),
                         komputerfix[komputerfix['Label']=='FA'].sample(n=3, random_state=0),
                         komputerfix[komputerfix['Label']=='NX'].sample(n=3, random_state=0)])
example_data.style.set_table_styles()\
    .format('{:.0f}', subset=['Jum NA','Ulang Ke-','Tot Ulang','Smt Ambil']).format('{:.1f}', subset=['HM', 'NA']).format('{:.2f}', subset=['IPS', 'IPK'])\
    .hide(axis="index")

In [ ]:
# Menampilkan baris yang mengandung nilai NaN
print(komputerfix[komputerfix.isna().any(axis=1)])

In [ ]:
komputerfix_d = komputerfix[komputerfix['ST']=='D']
print('Dropouts:', komputerfix_d['NPM'].nunique())
#print(komputerfix_d.shape[0])

func = lambda s: s if isinstance(s, str) else int(s)
ctd = pd.crosstab(komputerfix_d['PS'], komputerfix_d['Smt Ambil'],
                 values=komputerfix_d['NPM'], aggfunc='nunique',
                 margins=True)
ctd.style.set_table_styles()\
    .format_index(func, 1)\
    .format('{:.0f}')

In [ ]:
ctd = pd.crosstab(komputerfix_d['PS'], komputerfix_d['Smt Ambil'],
                 values=komputerfix_d['NPM'], aggfunc='nunique',
                 margins=True, normalize='index')
ctd['1+2+3+4'] = ctd[1]+ctd[2]+ctd[3]+ctd[4]
ctd[[1, 2, 3, 4, '1+2+3+4']].style.set_table_styles().format_index(func, 1).format('{:.2f}')

In [ ]:
komputerfix_g = komputerfix[komputerfix['ST']=='G']
print('Graduates:', komputerfix_g['NPM'].nunique())
#print(komputerfix_g.shape[0])

func = lambda s: s if isinstance(s, str) else int(s)
ctg = pd.crosstab(komputerfix_g['PS'], komputerfix_g['Smt Ambil'],
                 values=komputerfix_g['NPM'], aggfunc='nunique',
                 margins=True)
ctg.style.set_table_styles()\
    .format_index(func, 1)\
    .format('{:.0f}')

In [ ]:
ctg = pd.crosstab(komputerfix_g['PS'], komputerfix_g['Smt Ambil'],
                 values=komputerfix_g['NPM'], aggfunc='nunique',
                 margins=True, normalize='index')
#ctg['All'] = ctg[7]+ctg[8]+ctg[9]+ctg[10]#ctg[11]+ctg[12]+ctg[13]+ctg[14]
ctg[[7, 8, 9, 10, 11, 12, 13, 14]].style.set_table_styles().format_index(func, 1).format('{:.2f}')

In [ ]:
komputerfix_a = komputerfix[komputerfix['ST']=='A']
print('Actives:', komputerfix_a['NPM'].nunique())
#print(komputerfix_a.shape[0])

func = lambda s: s if isinstance(s, str) else int(s)
ct = pd.crosstab(komputerfix_a['PS'], komputerfix_a['Smt Ambil'],
                 values=komputerfix_a['NPM'], aggfunc='nunique',
                 margins=True)
ct.style.set_table_styles()\
    .format_index(func, 1)\
    .format('{:.0f}')

In [ ]:
nbr_c = komputerfix.groupby(['PS', 'Semester', 'NPM','ST','Label']).agg(\
    Nbr=('Kode', 'count')).reset_index()\
    .pivot(index=['PS', 'Semester',  'NPM', 'ST'], columns='Label')\
    .fillna(0).droplevel(0, axis=1).reset_index()

nbr_c['EN'] = nbr_c['FA'] + nbr_c['NX'] + nbr_c['PA']

nbr_c.sample(n=5, random_state=0).style.set_table_styles()\
    .format('{:}', subset=['Semester', 'NPM', 'FA', 'NX', 'PA','EN'])\
    .hide(axis="index")

In [ ]:
nrc = nbr_c[['PS','NPM', 'Semester', 'ST', 'PA', 'EN']].rename(columns={'PA':'Passed', 'EN':'Enrolled'})

gr = komputerfix[komputerfix['Label'] != 'NX'].sort_values(['PS', 'ST'])

gr = gr.groupby(['PS', 'Semester', 'ST','NPM']).agg(Grade=('HM', 'median')).reset_index()
gr.columns = ['PS', 'Semester', 'ST', 'NPM', 'Median Grade']


data = pd.merge(nrc, gr, how='left')

data = data.set_index(['PS', 'Semester','ST', 'NPM']).stack().reset_index()\
    .rename(columns={'level_4': 'Agg', 0:'Value'})\
    .sort_values(['PS', 'Semester', 'ST', 'Agg'])

data['ST'] = data['ST'].map({'D':'Dropouts', 'G':'Graduates'})
data.sample(n=5, random_state=0).style.set_table_styles()\
    .format('{:}', subset=['Value'])\
    .hide(axis="index")

In [ ]:
data.insert(2, 'PSS', data['PS']+data['Semester'].astype(str))
data.head()

In [ ]:
data = data[(data.Semester < 5)]
data.head()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
plt.figure(figsize=(30, 10))
g = sns.catplot(data=data[data['Agg'] == 'Median Grade'],
                kind='point',
                x='PSS',
                y='Value',
                hue='ST',
                estimator='mean',
                errorbar=("pi", 50),
                palette=['tab:orange', 'tab:green'],
                linestyles=[(0, (1, 2)), (0, (1, 2))],#[":", "-"],
                markers=['o', 'D'],
                legend=True,
                capsize=0.2,
                markersize=7,
                dodge=0.1
                )
g.set(ylim=(0.75, 5.5))

sns.move_legend(g, "lower center", ncol=2, bbox_to_anchor=(0.475, -0.02),
                title='', title_fontsize=8,
                handlelength=3,prop={'size': 8})
plt.yticks(fontsize=8)
g.set_axis_labels("", "")

g.fig.subplots_adjust(top=0.98)
g.fig.suptitle('Median Grades')

plt.savefig(f"/content/drive/MyDrive/data_agg_pointplots_1b.png", dpi=300, bbox_inches='tight')
plt.show()

In [ ]:
g = sns.catplot(
    data=data[data['Agg'] != 'Median Grade'],
    kind='point',
    x='PSS',
    y='Value',
    hue='ST',
    col='Agg',
    estimator='mean',
    errorbar=("pi", 50),
    color='mediumblue',
    capsize=0.3,
    legend=True,
    palette=['tab:orange', 'tab:green'],
    linestyles=[(0, (1, 2)), (0, (1, 2))],
    markers=['o', 'D'],
    markersize=7,
    dodge=0.1)
g.set_titles("Number of Courses {col_name}")
g.set(ylim=(None, 7.5))
g.set_axis_labels("", "")
sns.move_legend(g, "lower center", ncol=2, bbox_to_anchor=(0.475, -0.02),
                title='', title_fontsize=8,
                handlelength=3,prop={'size': 8})

plt.savefig(f"/content/drive/MyDrive/data_agg_pointplots_2b.png", dpi=300, bbox_inches='tight')
plt.show()

In [ ]:
data = nbr_c[nbr_c['Semester']==2]#[['PS', 'NPM', 'Semester', 'PA']]

ct_2 = pd.crosstab(data['PS'],
                   data['PA'],
                   values=data['NPM'],
                   aggfunc='nunique',
                   margins=True).fillna(0)
ct_2# = ct_2.drop(index='All')

for p in ['SI', 'TI', 'SK']:
    cums = []
    cum = ct_2.loc[p, 'All']
    cums.append(cum)

    for x in [c for c in ct_2.columns]:
        if x != 'All':
            val = ct_2.loc[p,x]
            cum -=val
            cums.append(cum)

    ct_2.loc[f'{p}', :] = cums

ct_2 = ct_2.sort_index()#.columns
ct_2 = ct_2.drop(columns='All')
#ct_2.loc['All',:] = ct_2.sum()
# merge the crosstabs and reorder the columns

ct_all_2 = pd.concat([ct_all, ct_2], axis=1).fillna(0).astype(int)#.sort_index(axis=1)
ct_all_2 = ct_all_2.reset_index().set_index(['PS','All', 'Dropouts', 'Graduates'])

func = lambda s: s if isinstance(s, str) else int(s)

ct_all_2['Semester'] = 2
ct_all_2 = ct_all_2[['Semester'] + [c for c in ct_all_2.columns if c != 'Semester']]
ct_all_2 = ct_all_2.drop(index='All')
ct_all_2.style.set_table_styles().format_index(func, 1)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

plt.figure(dpi=300)
plt.title('Correlation Analysis')
sns.set(rc = {'figure.figsize':(20,20)})
sns.heatmap(df.corr(), annot=True, lw=1, linecolor='white', cmap='viridis')
plt.xticks(rotation=60)
plt.yticks(rotation=60)
plt.savefig(f"/content/drive/MyDrive/data_agg_correlation.png", dpi=300, bbox_inches='tight')
plt.show()